<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/functions.js"></script>

<head>
	<title>Reg Number Search</title>
</head>


<body>
	<div class="main-block">
		<h1>Vehicle Enquiry Service</h1>

		<form action="/search-reg" method="POST">
			<p class="small-txt">Enter a vehicle's reg plate get it's information.</p>
			<div class="btn-block">
				<input type="text" name="regplate" id="regplate" placeholder="GY13 79A..." required />
			</div>
			<div class="btn-block">
				<!-- <button type="submit" id="submit_button" href="/" onclick=getVehicle()>Submit</button> -->
				<button type="submit" id="submit_button" href="/">Submit</button>
			</div>
		</form>

		<div class="return-block" id="vehicle_info_table" style="display: <%= table_show %>">
			<table>
				<thead>
					<tr>
						<th colspan="2"><%= vehicle_plate %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= vehicle_make %></th>
					</tr>
					<tr>
						<td><%= vehicle_color %></th>
					</tr>
					<tr>
						<td><%= vehicle_fuel_type %></th>
					</tr>
					<tr>
						<td><%= vehicle_year %></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>

<script>

</script>